.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.input {
  resize: none;
  background-color: var(--grey-300);
  padding: var(--spacing-2) var(--spacing-3);
  border-radius: var(--radius-medium);
  border: none;
}

.button-container {
  display: flex;
  gap: var(--spacing-3);
}

.send-button {
  background-color: var(--primary-600);
}
