.user-action {
  display: flex;
  position: relative;
  align-self: center;
}

.toggle-action {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-600);
  background-color: transparent;
  border: none;
  border-radius: var(--radius-full);
  padding: var(--spacing-1);
}

.toggle-action svg {
  height: var(--spacing-6);
  width: var(--spacing-6);
}

.toggle-action:hover {
  background-color: var(--grey-200);
}

.select-action {
  position: absolute;
  z-index: 10;
  top: calc(var(--spacing-4) + 115%);
  right: calc(var(--spacing-1) * -1);
  list-style: none;
  padding: var(--spacing-2) var(--spacing-3);
  min-width: var(--spacing-10);
  background-color: var(--grey-100);
  border-radius: var(--radius-medium);
  box-shadow: var(--shadow-3);
  transition: all 0.3s ease-out;
}

.select-action::before {
  content: "";
  top: calc(var(--spacing-2) * -1);
  right: var(--spacing-4);
  position: absolute;
  border-left: var(--spacing-2) solid transparent;
  border-right: var(--spacing-2) solid transparent;
  border-bottom: var(--spacing-2) solid var(--grey-100);
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-15%);
}

.username {
  border-bottom: solid 1px var(--grey-200);
  margin-bottom: var(--spacing-2);
  font-weight: var(--font-weight-bold);
}

.select-action li:last-child {
  display: flex;
}

.log-out-button {
  flex: 1;
  display: flex;
  justify-content: left;
  background-color: transparent;
  border: none;
  color: var(--grey-900);
}
