.error-message {
  min-height: var(--spacing-5);
  color: red;
  font-size: var(--font-size-1);
  transform: translateY(0%);
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in;
}

.hidden {
  transform: translateY(-50%);
  visibility: hidden;
  opacity: 0;
}
