.container {
  flex: 1;
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  margin-top: var(--spacing-7);
}

.text {
  font-size: var(--font-size-6);
}

.icon {
  height: var(--spacing-6);
  width: var(--spacing-6);
  animation-name: loader;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: linear;
}

@keyframes loader {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}
