.error-container {
  display: flex;
  gap: var(--spacing-2);
  background-color: var(--accent-2-100);
  color: var(--accent-2-900);
  margin-bottom: var(--spacing-4);
  padding: var(--spacing-3) var(--spacing-4);
  border-radius: var(--radius-small);
  font-weight: var(--font-weight-bold);
}

.error-container svg {
  min-width: var(--spacing-6);
}

.error-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
  list-style: none;
}
