.list {
  max-width: var(--spacing-15);
  width: 100%;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-4);
  margin-top: var(--spacing-7);
}

.error-container svg {
  height: var(--spacing-8);
  width: var(--spacing-8);
  color: var(--grey-600);
}

.error-message {
  text-align: center;
  font-size: var(--font-size-5);
}
