.back-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-600);
  max-width: var(--spacing-15);
  width: 100%;
}

.back-link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.back-link svg {
  height: var(--spacing-4);
  width: var(--spacing-4);
  transition: all 0.2s;
}

.back-link:hover svg {
  transform: translateX(-50%);
}
