.list,
.error-container {
  max-width: var(--spacing-15);
  width: 100%;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-3);
  margin-top: var(--spacing-7);
}

.error-container p {
  font-size: var(--font-size-6);
  max-width: var(--line-length-medium);
}

.error-container button {
  font-size: var(--font-size-6);
}
