.container {
  list-style: none;
  padding: var(--spacing-4) var(--spacing-3);
}

.container:not(:first-of-type) {
  border-top: var(--separator-dark);
}

.container a {
  text-decoration: none;
  color: var(--grey-900);
}

.container:hover {
  background-color: var(--grey-300);
}

.title {
  font-size: var(--font-size-5);
  color: var(--primary-600);
  margin-bottom: var(--spacing-1);
}

.info {
  display: flex;
  color: var(--grey-800);
  margin-bottom: var(--spacing-2);
}

.username span {
  font-weight: var(--font-weight-bold);
}
