.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: var(--spacing-15);
  margin-top: var(--spacing-5);
  padding-bottom: var(--spacing-5);
  border-bottom: solid 2px var(--grey-400);
}

.info {
  display: flex;
  gap: var(--spacing-3);
  align-items: center;
  font-size: var(--font-size-2);
  margin-bottom: var(--spacing-6);
}

.date {
  font-size: var(--font-size-1);
  text-align: right;
}

.date .edit {
  color: var(--grey-800);
}

.info svg {
  color: var(--primary-500);
}

.username {
  font-weight: var(--font-weight-bold);
}

.title {
  text-align: center;
  font-size: var(--font-size-6);
  max-width: var(--line-length-small);
  margin-bottom: var(--spacing-3);
  color: var(--primary-600);
}

.text {
  font-size: var(--font-size-4);
  max-width: var(--line-length-medium);
}

@media (min-width: 760px) {
  .title {
    font-size: var(--font-size-7);
    max-width: var(--line-length-medium);
  }

  .text {
    max-width: var(--line-length-large);
    font-size: var(--font-size-5);
  }
}
