.button {
  position: fixed;
  bottom: var(--spacing-7);
  z-index: 10;
  border: none;
  border-radius: var(--radius-full);
  padding: var(--spacing-3);
  background-color: var(--primary-500);
  color: var(--primary-100);
  box-shadow: var(--shadow-5);
  translate: 0 0;
  transition: all 0.5s ease-in-out;
}

.button svg {
  height: var(--spacing-6);
  width: var(--spacing-6);
}

.hidden {
  translate: 0 200%;
}
